@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@layer utilities {
  :root {
    --header-height: 60px;
    --header-height-mobile: 90px;
    --sidebar-width: 330px;
    --sidebar-width-tablet: 280px;

    /* Css variables for conversation theme */
    /* Default theme */
    --sender-light-text-color: #fff;
    --sender-light-background-color: #0099ff;
    --sender-dark-text-color: #fff;
    --sender-dark-background-color: #0e92eb;
    --receiver-light-text-color: #000;
    --receiver-light-background-color: #f0f0f0;
    --receiver-dark-text-color: #fff;
    --receiver-dark-background-color: #303030;
    --background-theme-light-background: #fff;
    --background-theme-dark-background: #212223;
    --background-theme-light-header-color: #ffffff;
    --background-theme-dark-header-color: #212223;
    --background-theme-light-footer-color: #ffffff;
    --background-theme-dark-footer-color: #212223;
    --reply-message-light-background-color: #f6f6f6;
    --reply-message-dark-background-color: #8383838d;
  }
}

@layer base {
    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }
}

@keyframes scale-up {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

.animate-scale-up {
    animation: scale-up 0.6s ease-in-out;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    height: 8px;
}

html {
    background-color: #fff;
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(22, 24, 35, 0.2);
    }

    *::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: transparent !important;
    }

    --typing-dot-background-color: var(--receiver-light-text-color);
}

html.dark {
    background-color: #1e1e1e;
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.2);
    }

    *::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: transparent !important;
    }

    --typing-dot-background-color: var(--receiver-dark-text-color);
}

html.dark .tippy-box {
    background-color: rgb(208, 208, 208);
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    color: #000;
}

html .tippy-box * {
    font-size: 13px;
}

html.dark .tippy-arrow {
    color: rgb(208, 208, 208);
}

body {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-weight: 400;
}

body {
    overflow-x: hidden;
    overflow-y: overlay;
}

body.ReactModal__Body--open {
    overflow-y: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: block;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: 999;
    outline: none;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

@theme {
    --breakpoint-xxs: 340px;
    --breakpoint-xs: 480px;
    --breakpoint-bp900: 900px;
  
    --color-primary: #0866ff;
    --color-error: #ff453a;
    --color-dark: #18191a;
    --color-dark-gray: #252728;
    --color-system-message-light: #65686C;
    --color-system-message-dark: #A1A4A9;
  
    --border-color-dark: #212223;
    --border-color-light: #65686C;
    --border-color-dark-gray: #313233;
  
    --outline-none: none;
  
    --background-color-dark: #212223;
    --background-color-lightGray: #f0f2f5;
    --background-color-dark-gray: #313233;
  
    --text-color-dark: #ffffffe6;
  
    --shadow-light: 3px 5px 15px rgba(0, 0, 0, 0.3);
    --shadow-dark: 3px 5px 15px rgba(255, 255, 255, 0.3);
  }
  